[includeIf "gitdir:~/personal/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work


# TODO:temporary will remove later
[user]
    name = "Redacted"
    email = "redacted@example.com"
[core]
    sshCommand = "ssh -i ~/.ssh/id_github_work -F /dev/null"
