<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Palo Alto Networks</key>
	<dict>
		<key>GlobalProtect</key>
		<dict>
			<key>PanMSAgent</key>
			<dict>
				<key>Client.DebugLevel</key>
				<integer>5</integer>
				<key>SearchOrder</key>
				<integer>1</integer>
				<key>Service.DebugLevel</key>
				<integer>5</integer>
			</dict>
			<key>Settings</key>
			<dict>
				<key>ConfFromPortal</key>
				<integer>39980</integer>
				<key>ConfFromPortal3</key>
				<integer>1</integer>
				<key>Configurations</key>
				<integer>152</integer>
				<key>Configurations2</key>
				<integer>47</integer>
				<key>Configurations3</key>
				<integer>0</integer>
				<key>DiagAndLog</key>
				<integer>0</integer>
				<key>DisallowLocalAccess</key>
				<integer>0</integer>
				<key>DisplayTrafficBlockingMsg</key>
				<integer>1</integer>
				<key>DisplayWelcome</key>
				<integer>1</integer>
				<key>HipCheckInterval</key>
				<integer>0</integer>
				<key>IncludeDebugLog</key>
				<integer>0</integer>
				<key>InitRun</key>
				<integer>0</integer>
				<key>LastUrl</key>
				<string>access.bfi.co.id</string>
				<key>LocalBioEnabled</key>
				<integer>0</integer>
				<key>LocalSSLEnabled</key>
				<integer>0</integer>
				<key>OtherDisableStarted</key>
				<integer>0</integer>
				<key>OverrideMethod</key>
				<string>allowed</string>
				<key>UserOverrides</key>
				<integer>0</integer>
				<key>agent-user-override-timeout</key>
				<integer>0</integer>
				<key>mfa-prompt-suppress-time</key>
				<integer>0</integer>
				<key>ssl-only-selection</key>
				<integer>0</integer>
			</dict>
			<key>Settings\access.bfi.co.id</key>
			<dict>
				<key>AuthTypes</key>
				<integer>32</integer>
				<key>ConfFromPortal</key>
				<integer>39980</integer>
				<key>ConfFromPortal3</key>
				<integer>1</integer>
				<key>Configurations</key>
				<integer>152</integer>
				<key>Configurations2</key>
				<integer>47</integer>
				<key>Configurations3</key>
				<integer>0</integer>
				<key>DisplayTrafficBlockingMsg</key>
				<integer>1</integer>
				<key>DisplayWelcome</key>
				<integer>1</integer>
				<key>HipCheckInterval</key>
				<integer>0</integer>
				<key>LocalBioEnabled</key>
				<integer>0</integer>
				<key>LocalSSLEnabled</key>
				<integer>0</integer>
				<key>OtherDisableStarted</key>
				<integer>0</integer>
				<key>OverrideMethod</key>
				<string>allowed</string>
				<key>UserOverrides</key>
				<integer>0</integer>
				<key>WasOD</key>
				<integer>1</integer>
				<key>agent-user-override-timeout</key>
				<integer>0</integer>
				<key>mfa-prompt-suppress-time</key>
				<integer>0</integer>
				<key>ssl-only-selection</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
